<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>

<p th:text="${msg}"></p>
<br>


<div shiro:hasPermission="user:allow" th:each="topic:${topics}">
    <tr>
        <td th:text="${topic.topic_name}"></td>
        <td th:text="${topic.name}"></td>
        <td th:text="${topic.create_date}"></td>
    </tr>
</div>

<div shiro:notAuthenticated>
    <a th:href="@{/toLogin}">登录</a>
</div>
&nbsp;
<div shiro:Authenticated>
    <a th:href="@{/logout}">注销</a>
</div>



</body>
</html>