<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta charset="UTF-8">
    <title>添加</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link href="/css/index.css" rel="stylesheet">
</head>
<body>

<main class="container">
    <div class="col-md-12">
        <h1 class="h5 text-center" style="color:red;" th:if="${msg} eq 'false'">
            请不要恶意评论,评论限制1000字!!!
        </h1>

    </div>

    <form th:action="@{/addComment}" method="post">
        <h1 class="fs-1 fw-bold " th:text="'说说你对'+${topicName}+'的看法吧'"></h1>
        <br>

        <!--输入评论内容-->
        <label class="fs-3">评论内容: </label>
        <div class="form-floating">
            <textarea class="form-control" placeholder="请文明发言,最多1000字。" id="floatingTextarea" name="content"
                      style="height: 500px"></textarea>
            <label for="floatingTextarea">请文明发言,最多1000字。</label>
        </div>

        <input type="hidden" name="topic_id" th:value="${topicId}">
        <input type="hidden" name="topic_id" th:value="${session.userName}">
        <br>
        <button type="submit" class="btn btn-primary">提交评论</button>
    </form>


</main>
<br>

<!--页脚-->
<footer class="blog-footer">
    <p>Blog built by LiuZhiqiang with <a href="https://getbootstrap.com/">Bootstrap5</a>.
    </p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>


</body>
</html>