<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta charset="UTF-8">
    <title>评论</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
<!--顶部标题-->
<div class="container">
    <div class="col-11">
        <p class="fs-1 fw-bold text-center text-dark " th:text="${topicName}"></p>
    </div>

</div>
<hr style="border: 3px solid dimgrey;border-radius: 5px;">
<br>
<!--评论展示主体-->
<main class="container">
    <div th:each="comment,commentStat:${comments}" class="col-md-offset-2">
        <h4 class="font-monospace fw-bold" th:text="${comment.name}"></h4>
        <div th:if="${commentStat.odd}" class="col-md-12  bg-secondary text-white rounded-3 border border-2 ">
            <p class="px-2 py-2 lh-base fs-5 col-md-10 font-monospace" th:text="${comment.content}"></p>
            <h6 class="px-2 py-2 lh-base font-monospace" th:text="${comment.date}"></h6>
        </div>
        <div th:if="${commentStat.even}" class="col-md-12 bg-light text-dark rounded-3 border border-2">
            <p class="px-2 py-2 lh-base fs-5 col-md-10 font-monospace" th:text="${comment.content}"></p>
            <h6 class="px-2 py-2  lh-base font-monospace" th:text="${comment.date}"></h6>
        </div>

        <br>

    </div>

    <br>
    <!--添加评论按钮-->
    <div class="">
        <div shiro:hasPermission="user:allow">
            <a class="btn btn-outline-primary" th:href="@{'/toAddComment/'+${topicId}}">添加评论</a>
        </div>
    </div>
</main>

<br>
<!--页脚-->
<footer class="blog-footer">
    <p>Blog built by LiuZhiqiang with <a href="https://getbootstrap.com/">Bootstrap5</a>.
    </p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>

</body>
</html>