<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liu.sensitivewordfilter.mapper.CommentMapper">

    <!--查询对应话题的评论，并关联user表,查询出所有的评论对应的用户。-->
    <select id="queryCommentsByTopic" parameterType="java.math.BigInteger" resultType="java.util.Map">
        select c.comment_id, c.topic_id, c.content, c.date, u.name, u.id
        from comment c
                 JOIN user u on c.user_id = u.id
        where c.topic_id = #{TopicId};
    </select>

    <!--根据话题id计算相应的评论数量-->
    <select id="countCommentByTopic" parameterType="java.math.BigInteger" resultType="BigInteger">
        select count(*)
        from community.comment
        where topic_id = #{TopicId};
    </select>

    <!--添加评论-->
    <insert id="insertComment" parameterType="Comment">
        insert into community.comment(user_id, topic_id, content, date)
        values (#{user_id}, #{topic_id}, #{content}, NOW());
    </insert>


    <!--删除评论-->
    <delete id="deleteComment" parameterType="java.math.BigInteger">
        delete
        from community.comment
        where comment_id = #{commentId};
    </delete>
</mapper>