<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liu.sensitivewordfilter.mapper.UserMapper">
    <select id="queryUserById" parameterType="java.math.BigInteger" resultType="User">
        select *
        from community.user
        where id = #{id};
    </select>

    <update id="banUser" parameterType="java.math.BigInteger">
        update community.user
        set perms='user:ban'
        where id = #{id};
    </update>

    <update id="addViolationCount" parameterType="java.math.BigInteger">
        update community.user
        set violation=violation + 1
        where id = #{id};
    </update>

    <select id="queryViolationCount" parameterType="java.math.BigInteger" resultType="int">
        select violation
        from community.user
        where id=#{id}
    </select>

</mapper>